* {
    margin: 0;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
}

header {
    padding: 20px 5px 15px;
}

header div#logos {
    float: right;
}

footer, .push {
    height: 80px;
}

footer {
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    clear: both;
}

footer p {
    padding-top: 20;
}

nav {
    padding-left: 10px;
    background-color: #000000;
    color: #ffffff;
}

nav a {
    color: #ffffff;
}

nav a:hover {
    text-decoration: none;
    color: #E78200;
}

section {
    padding: 10px;
}

section img {
    padding: 5px;
}

section#summary {
    width: 100%;
}

section#image {
    float: right;
}

p {
    padding: 5px 0;
}

h1, h2, h3, h4 {
    padding: 5px 0;
}

a {
    color: #E78200;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.title h1 {
    font-size: xx-large;
}

#letter a {
    font-size: large;
}

.columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

#button {
    padding: 5px;
}

.newsItem {
    padding-bottom: 10;
}
